<div class="game-main-container">
    <main>
        <div class="game-container">
            <!-- 1 ROW -->
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>

            <!-- 2 ROW -->
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>

            <!-- 3 ROW -->
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>

            <!-- 4 ROW -->
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>

            <!-- 5 ROW -->
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>

            <!-- 6 ROW -->
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>

            <!-- 7 ROW -->
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>

            <!-- 8 ROW -->
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>

            <!-- 9 ROW -->
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>

            <!-- 10 ROW -->
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>

            <!-- 11 ROW -->
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>

            <!-- 12 ROW -->
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>

            <!-- 13 ROW -->
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>

            <!-- 14 ROW -->
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>

            <!-- 15 ROW -->
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>

            <!-- 16 ROW -->
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>

            <!-- 17 ROW -->
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>

            <!-- 18 ROW -->
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>

            <!-- 19 ROW -->
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>

            <!-- 20 ROW -->
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>
            <div class="game-cell"></div>

        </div>
        <div class="score-container">
            <div class="score-and-level">
                <div class="score">Score {{ score }}</div>
                <div class="level">Level {{ currentLevel }}</div>
            </div>
            <div class="next-pieces">
                <div #nextFigure class="next-piece">

                </div>
                <div #nextNextFigure class="next-next-piece">
                    
                </div>
            </div>
        </div>
        <div class="start-game-overlay" [class.hidden]="!gameOverValue && !gameStarted">
            Press ENTER or touch de screen to run the game
            <br />
            Controls:
            <br />
            ↑ to rotate
            <br />
            ← to move left
            <br />
            → to move right
            <br />
            ↓ to move down
            <br />
            Enter or touch to pause the game
        </div>
        <div class="end-game-overlay" [class.hidden]="gameOverValue && !gameStarted">
            GAME OVER! Press ENTER to run the game
        </div>
        <div class="end-game-overlay" [class.hidden]="gamePaused && gameStarted && !gameOverValue">
            GAME PAUSED
        </div>
    </main>
</div>