@mixin tetris-theme($theme, $is-dark-theme) {

    $main-container-color: mat-color(map-get($theme, primary));
    $overlays-color: mat-color(map-get($theme, warn));
    $score-and-level-color: mat-color(map-get($theme, accent));

    .game-container {
        background: linear-gradient(darken($main-container-color, 40%), darken($main-container-color, 90%));
    }

    .game-main-container {

        background: linear-gradient(darken($main-container-color, 10%), darken($main-container-color, 70%));
    }

    .score-container {
        background: linear-gradient(darken($overlays-color, 10%), darken($overlays-color, 50%));
    }


    .start-game-overlay,
    .end-game-overlay {

        background: linear-gradient(darken($overlays-color, 10%), darken($overlays-color, 90%));

    }

    .score-and-level,
    .next-pieces {
        background: linear-gradient(darken($score-and-level-color, 5%), darken($score-and-level-color, 20%));
    }
}