.no-videos-node{
    margin-top: 5rem;
}
.add-to-my-videos-wrapper{
    padding: 0 min(5rem,2%);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.selected-video-container{
    position: sticky;
    top: 60px;
    z-index: 10;
}