#my-videos-master {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.no-videos-node{
    margin-top: 5rem;
}

.video-player-wrapper,
.videos-list-wrapper {    
    display: flex;
    justify-content: space-around;
}
.add-to-my-videos-wrapper{
    padding: 0 min(5rem,2%);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.selected-video-container{
    position: sticky;
    top: 60px;
    z-index: 10;
}
.video-player-wrapper>iframe {
    --iframe-width: min(100vw, 1000px);
    height: calc(var(--iframe-width) * 0.5625);
    width: var(--iframe-width);
    transition: height 0.2s ease-in-out;
}
iframe.collapsed{
    height: 0px !important;
}

@mixin my-videos-theme($theme, $is-dark-theme) {
    fa-icon svg path {
        fill: mat-color(map-get($theme, primary));
    }
    .add-to-my-videos-wrapper{
        padding: 1rem 0 0 min(5rem,2%);
        background-color: mat-color(map-get($theme, primary));
        display: flex;
        justify-content: space-between;
    }
}