:host {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}
app-toolbar{
    position: sticky;
    top: 0;
    z-index: 1000;
}

app-footer{
    bottom: 0;
    margin-top: auto;
}