.column-inline-flex-end{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.column-inline-flex-start{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.row-inline-flex-start{
    display: flex;
    align-self: flex-start;
}
.center{
    justify-content: center;
}
.col{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
}
.always-bottom{
    margin-top: auto;
}
.p-2{
    padding: 2rem;
}
