

#home-master {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top-body {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: fit-content;
    padding: 1rem;
    opacity: 0.9;    
    position: sticky;
    top: 60px;
    z-index: 10;
}

.search-wrapper {
    display: flex;
    width: min(28.5rem, calc(100vw + 5.5rem));
    flex-wrap: wrap;
}

mat-form-field[search-input] {
    width: min(20rem, 100vw);
    margin: 0.5rem 0.5rem 0 0;
}

.video-player-wrapper,
.videos-list-wrapper {    
    display: flex;
    justify-content: space-around;
}

.video-player-wrapper>iframe {
    --iframe-width: min(100vw, 1000px);
    height: calc(var(--iframe-width) * 0.5625);
    width: var(--iframe-width);    
    transition: height 0.2s ease-in-out;
}
iframe.collapsed{
    height: 0px !important;
}

.videos-list {
    padding: 0 min(5rem, 2%);
    max-width: 1000px;
}

.video {
    list-style: none;
    padding: 0.6rem 0;
    border-bottom: 1px solid #cfcfcf;
}

.thumbnail {
    height: 5rem;
    width: 9rem;
    background-size: contain !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.duration {
    position: relative;
    display: flex;
    justify-content: flex-end;
    color: white;
    background: black;
    margin-left: auto;
    font-weight: bold !important;
    padding: 0.1rem;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3rem 0 0 0.6rem;
}

.selected-video-container{
    position: sticky;
    top: 172.5px;
    z-index: 10;
}

@mixin home-theme($theme, $is-dark-theme) {

    .top-body,
    .mat-form-field-infix input,
    mat-label {
        @if $is-dark-theme {
            color: black !important;
            --colorDatePicker: white;
            --backgroundDatePicker: #303030;
        }

        @else {
            color: white !important;
            --colorDatePicker: #303030;
            --backgroundDatePicker: white;
        }
    }

    .top-body,
    .mat-form-field-infix input,
    mat-label {
        background-color: mat-color(map-get($theme, primary));
    }

    fa-icon svg path {
        fill: mat-color(map-get($theme, primary));
    }
    .add-to-my-videos-wrapper{
        padding: 1rem 0 0 min(5rem,2%);
        background-color: mat-color(map-get($theme, primary));
        display: flex;
        justify-content: space-between;
    }
}